@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.character_detail {
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $main-color;
    width: 280px;
    padding: 15px 0px 20px 1px;
    gap: 20px;
    box-shadow: 2px 3px 30px 3px #0ff;
    @include tablet {
      flex-direction: row;
      width: 600px;
      height: 350px;
      padding-top: 17px;
      padding-left: 30px;
    }
    @include desktop {
      width: 800px;
      height: 400px;
      padding-left: 40px;
      padding-top: 20px;
      gap: 0px;
    }
  }
  &__link {
    margin-top: 15px;
    text-decoration: none;
    color: $secondary-color;
    font-size: rem(18);
    position: relative;
    left: 34.5%;
    margin-bottom: 12px;
    cursor: pointer;
    @include tablet {
      font-size: rem(20);
      left: 42%;
    }
    @include desktop {
      font-size: rem(23);
      left: 43%;
      margin-bottom: 20px;
    }
  }
  &__img {
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
      width: 300px;
      height: 300px;
    }
    @include desktop {
      width: 320px;
      height: 320px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    @include tablet {
      padding-left: 20px;
      padding-right: 0px;
    }
    @include desktop {
      margin-left: 40px;
    }
  }
  &__name {
    color: $secondary-color;
    font-size: rem(20);
    font-weight: 800;
    margin-bottom: 10px;
    @include tablet {
      font-size: rem(22);
    }
    @include desktop {
      font-size: rem(24);
    }
  }
  &__info {
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
    color: $secondary-color;
    font-size: rem(17);
  }
  &__title {
    font-weight: 800;
  }
}

.fa-angle-left {
  font-size: rem(10);
  transform: scale(0.8);
  @include tablet {
    font-size: rem(15);
  }
  @include desktop {
    font-size: rem(18);
    transform: scale(0.8);
  }
}
