@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.name {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  @include desktop {
    margin-top: 56px;
    flex-direction: row;
  }
  &__label {
    color: $secondary-color;
    font-size: rem(14);
    @include tablet {
      font-size: rem(17);
    }
    @include desktop {
      padding-top: 32px;
      padding-right: 15px;
      font-size: rem(19);
    }
  }
  &__input {
    background-color: $background-color;
    border: 2px solid $main-color;
    padding: 4px;
    width: 60%;
    margin-top: 5px;
    color: rgb(87, 219, 245);
    @include tablet {
      padding: 8px;
      width: 89%;
      margin-bottom: 15px;
      margin-right: 5px;
    }
    @include desktop {
      margin-top: 26px;
      padding: 8px;
      width: 90%;
      height: 25%;
    }
  }
}
