@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.origin {
  margin-top: 10px;
  font-size: rem(13);
  @include tablet {
    margin-top: 20px;
  }
  &__box {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 10px 10px 35px;
    gap: 0px;
    @include tablet {
      margin-left: 20px;
      margin-right: 5px;
      gap: 10px;
    }
  }
  &__label {
    color: $secondary-color;
    width: 110px;
    text-align: left;
    margin-left: 0px;
    font-size: rem(12);
    @include tablet {
      width: 100px;
      font-size: rem(15);
    }
  }
  &__checkbox {
    accent-color: $main-color;
    width: 15px;
    cursor: pointer;
    @include tablet {
      width: 10px;
    }
  }
}
