@import '../core/functions';
@import '../core/variables';

.name__input {
  background-color: black;
  border: 2px solid rgb(19, 181, 213);
  padding: 10px;
  width: 450px;
  color: white;
}
