@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.name {
  margin-top: 55px;
  &__label {
    color: $secondary-color;
    margin-right: 15px;
    font-size: rem(19);
  }
  &__input {
    background-color: $background-color;
    border: 2px solid $main-color;
    padding: 4px;
    width: 160px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: rgb(87, 219, 245);
    @include tablet {
      margin-top: 15px;
      padding: 10px;
      width: 330px;
    }
    @include desktop {
      padding: 10px;
      width: 450px;
    }
  }
}
