@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.species {
  width: 200px;
  height: 30px;
  margin-top: 75px;
  margin-left: 20px;
  border: 2px dotted $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  &__label {
    color: $secondary-color;
    font-size: rem(18);
    padding: 10px;
  }
  &__checkbox {
    accent-color: $main-color;
    cursor: pointer;
  }
}
