@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.pageNotFound {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: rem(15);
  background-color: rgb(29, 33, 36);
  background-image: url('../../images/404Error.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  filter: drop-shadow(16px 16px 20px purple) invert(90%);
  @include tablet {
    font-size: rem(20);
  }
  @include desktop {
    font-size: rem(25);
  }
  &__link {
    align-items: center;
    text-decoration: none;
    color: $secondary-color;
    background-color: $main-color;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 7px;
    &:hover {
      background-color: $main-color;
    }
    @include tablet {
      width: 250px;
      padding: 10px;
      margin-top: 15px;
    }
    @include desktop {
      margin-top: 25px;
      width: 350px;
      padding: 13px;
      position: relative;
      top: 400px;
    }
  }
}
