@import '../core/functions';
@import '../core/variables';
@import '../core/mixins';

.reset {
  padding: 10px;
  border-radius: 5px;
  background-color: $main-color;
  color: $secondary-color;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: rgb(51, 213, 245);
  }
  &:active {
    background-color: rgb(31, 160, 186);
  }
}
