@import './mixins.scss';
@import './functions.scss';
@import './variables.scss';

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: $background-color;
  border: 3px outset $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62%;
  font-size: rem(18);
  padding: 20px;
  margin-top: 15px;
  &__box {
    display: flex;
  }
}
