@import './variables.scss';

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: $main-font;
}
