//Fonts
$defaultFontSize: 16;
$main-font: 'Open Sans', sans-serif;

//Colors
$main-color: rgb(19, 181, 213);
$text-color: white;
$secondary-color: rgb(240, 255, 77);
$background-color: black;
